<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GymBros Center</title>
</head>
<body>

<h1>Programmi di allenamento!</h1>

<table class="table">
    <thead>

    <tr>
        <th>Nome Programma</th>
    </tr>

    </thead>

    <tbody>
    <tr th:each="allenamento : ${allenamenti}">

        <td th:text="${allenamento.nome}"> P </td>
        <td th:text="${allenamento.kcal}"> P </td>

        <td>
            <form th:action="@{/composizione}" method="get" >
                <button type="submit" name="code" th:value="${allenamento.nome}"> Visualizza la scheda </button>
            </form>
        </td>

    </tr>
    </tbody>

</table>

</body>
</html>