<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{bases/head.html}"></head>
<body>
    <nav th:replace="~{bases/navbar.html}"></nav>
    <div class="container p-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h1>GymBros Centre</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="box p-4 p-md-5">
                    <div class="row text-center mb-4">
                        <h2>Cambia la tua Password</h2>
                    </div>
                    <div id="errorContainer" class="alert alert-danger" role="alert" th:style="${error} ? 'display:block' : 'display:none'">
                        <p th:text="${error}"></p>
                    </div>
                    <div class="alert alert-success" role="alert" th:if="${success}">
                        <p th:text="${success}"></p>
                    </div>
                    <form class="login-form" th:action="@{/cambioPassword}" method="post" onsubmit="return validateChangePasswordForm()">
                        <div class="row mb-3">
                            <div class="col">
                                <input type="password" class="form-control" placeholder="Password precedente" aria-label="Password precedente" name="oldPassword" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="password" id="newPassword" class="form-control" placeholder="Nuova password" aria-label="Nuova password" name="newPassword" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="password" id="confirmPassword" class="form-control" placeholder="Conferma nuova password" aria-label="Conferma nuova password" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <button class="form-control btn btn-primary" type="submit">Conferma</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{bases/scripts.html}"></div>
    <script th:src="@{/js/changePassword_script.js}"></script>
</body>
</html>