<!DOCTYPE html>
<html lang="en">
<head th:replace="~{bases/head.html}"></head>
<body>
<nav th:replace="~{bases/navbar.html}"></nav>

<table class="table">
    <thead>

    <tr>
        <th>Esercizi</th>
    </tr>

    <tr>
        <th scope="col">Nome esercizio</th>
        <th scope="col">Numero delle serie</th>
        <th scope="col">Numero delle ripetizioni</th>
        <th scope="col">Tipo di allenamento</th>
    </tr>

    </thead>

    <tbody>
        <tr th:each="esercizio : ${composizione}">

            <td th:text="${esercizio.nome_esercizio}"> P </td>
            <td th:text="${esercizio.numero_serie}"> P </td>
            <td th:text="${esercizio.numero_ripetizioni}"> P </td>
            <td th:text="${esercizio.programmaType}"> P </td>

        </tr>
    </tbody>

</table>
<div th:replace="~{bases/footer.html}"></div>
    <div th:replace="~{bases/scripts.html}"></div>
</body>
    </html>