<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{bases/head.html}"></head>
<body>
    <nav th:replace="~{bases/navbar.html}"></nav>

    <h1 class="fw-light" >Contattaci pure qui sotto!</h1>

    <form>

        <div class="mb-3">
            <label for="nomeUtente" class="form-label">Email address</label>
            <input type="text" class="form-control" id="nomeUtente" placeholder="Nome" required>
        </div>

        <div class="mb-3">
            <label for="emailUtente" class="form-label">Indirizzo email</label>
            <input type="email" class="form-control" id="emailUtente" placeholder="@qualcosa.com" required>
        </div>
        <div class="mb-3">
            <label for="Lamentela" class="form-label">Digita qui la tua problematica</label>
            <textarea class="form-control" id="Lamentela" rows="3" required></textarea>
        </div>

        <div class="col">
            <button class="form-control btn btn-dark" type="submit" onclick="invioFittizio()">Invia</button>
        </div>

    </form>

    <footer th:replace="~{bases/footer.html}"></footer>
    <script>
        function invioFittizio(){
    alert("Form inviato con successo!");
    return;
    }
    </script>
    <script th:replace="~{bases/scripts.html}"></script>
</body>

</html>