<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{bases/head.html}"></head>

<body>
    <nav th:replace="~{bases/navbar.html}"></nav>

    <h1>Inserisci gli esercizi nel tuo nuovo programma!</h1>

    <form th:action="@{/training/custom/save}" method="post">

        <div class="mb-3">
            <label for="trainingName" class="form-label">Nome programma</label>
            <input type="text" class="form-control" id="trainingName" name="trainingName" placeholder="Workout...">
        </div>

        <div id="exerciseList">

            <div class="blocco-esercizi">
                <label>Nome esercizio</label>
                <select class="form-select" aria-label="Default select example" name="exercises[0].exerciseName"
                    required>
                    <option value="" disabled selected>Scegli un esercizio</option>
                    <option th:each="exerciseName : ${exerciseNames}" th:value="${exerciseName}"
                        th:text="${exerciseName}">
                    </option>
                </select>

                <div class="mb-3">
                    <label for="numReps" class="form-label">Numero ripetizioni</label>
                    <input type="number" id="numReps" name="exercises[0].reps" placeholder="Numero ripetizioni..."
                        required>
                </div>

                <div class="mb-3">
                    <label for="numSets" class="form-label">Numero serie</label>
                    <input type="number" id="numSets" name="exercises[0].sets" placeholder="Numero serie..." required>
                </div>
            </div>
        </div>

        <br>
        <button type="button" class="btn btn-secondary" onclick="addExercise()">Aggiungi un esercizio</button>
        <button type="submit" class="btn btn-primary">Salva scheda</button>

    </form>

    <script th:src="@{/js/customTraining.js}"></script>
    <div th:replace="~{bases/footer.html}"></div>
    <div th:replace="~{bases/scripts.html}"></div>
</body>

</html>