<!DOCTYPE html>
<html lang="en">
<head th:replace="~{bases/head.html}"></head>
<body>
    <nav th:replace="~{bases/navbar.html}"></nav>

    <div class="box m-5 p-5">
        <h1 th:text="${trainingName}"></h1>

        <table class="table">
            <thead>
                <tr>
                    <th>Esercizi</th>
                </tr>
                <tr>
                    <th scope="col">Nome esercizio</th>
                    <th scope="col">Numero delle serie</th>
                    <th scope="col">Numero delle ripetizioni</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="exercise : ${customComposition}">
                    <td th:text="${exercise.exerciseName}"></td>
                    <td th:text="${exercise.sets}"></td>
                    <td th:text="${exercise.reps}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row mx-5">
        <div class="col-auto">
            <a th:href="@{/dashboard}" class="btn btn-primary">
                Torna alla Dashboard
            </a>
        </div>
    </div>

    <div th:replace="~{bases/footer.html}"></div>
    <div th:replace="~{bases/scripts.html}"></div>
</body>
</html>
