<!-- References
    https://stackoverflow.com/questions/42388989/bootstrap-centering-elements-vertically-and-horizontally
-->
<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{bases/head.html}"></head>
<body>
    <nav th:replace="~{bases/navbar.html}"></nav>
    <div class="container p-5">
        <div class="box">
            <div class="row justify-content-center">
                <div class="text-center my-5">
                    <h1>Logout effettuato correttamente.</h1>
                    <p class="text-muted">Ci vediamo presto gymbro</p>
                </div>
            </div>
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-auto mb-5">
                        <a th:href="@{/login}" class="btn btn-primary">
                            Torna al login
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="~{bases/scripts.html}"></div>
</body>
</html>