<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{bases/head.html}"></head>
<body>
    <nav th:replace="~{bases/navbar.html}"></nav>
    <h1>Il tuo profilo</h1>

    <p><strong>Nome:</strong> <span th:text="${user.firstName}"></span></p>
    <p><strong>Cognome:</strong> <span th:text="${user.lastName}"></span></p>
    <p><strong>Data di nascita:</strong> <span th:text="${user.birthDate}"></span></p>
    <p><strong>Ruolo:</strong> <span th:text="${user.authority}"></span></p>

    <br>
    <a th:href="@{/dashboard}">Torna alla dashboard</a>
    <div th:replace="~{bases/footer.html}"></div>
    <div th:replace="~{bases/scripts.html}"></div>
</body>
</html>