<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{bases/head.html}"></head>
<body>
    <nav th:replace="~{bases/navbar.html}"></nav>
    <h1>Benvenuto/a, <span th:text="${name}"></span>!</h1>
    <p>Dashboard PROVA - da implementare</p>
    <a th:href="@{/profilo}">Visualizza Profilo</a>
    <a th:href="@{/cambioPassword}">Cambio Password</a>
    <a th:href="@{/upgrade}">Upgrade</a>
    <a th:href="@{/allenamenti}">Vedi allenamenti</a>

    <form th:action="@{/perform_logout}" method="post">
        <button type="submit">Logout</button>
    </form>
    <div th:replace="~{bases/scripts.html}"></div>
</body>
</html>