<!--
    Same template as login just edited to match the required fields (same references)
    + https://getbootstrap.com/docs/4.0/components/alerts/
-->
<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{bases/head.html}"></head>
<body>
    <nav th:replace="~{bases/navbar.html}"></nav>
    <div class="container p-5">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h1>GymBros Center</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-7 col-lg-5">
                <div class="box p-4 p-md-5">
                    <div class="row text-center mb-4">
                        <h2>Registrati</h2>
                    </div>
                    <!-- Error message -->
                    <div id="errorContainer" class="alert alert-danger" role="alert" th:style="${error} ? 'display:block' : 'display:none'" th:text="${error}">
                    </div>
                    <form class="login-form" th:action="@{/addUser}" method="post" onsubmit="return validateSignUpForm()">
                        <div class="row mb-3">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Nome" aria-label="Nome" name="firstName" required>
                            </div>
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Cognome" aria-label="Cognome" name="lastName" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="text" id="birthDateDisplay" class="form-control" placeholder="Data di nascita (GG/MM/AAAA)" aria-label="Data di nascita (GG/MM/AAAA)" required>
                                <input type="hidden" id="birthDate" name="birthDate">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="email" class="form-control" placeholder="Email" aria-label="Email" name="email" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="text" class="form-control" placeholder="Username" aria-label="Username" name="username" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="password" id="password1" class="form-control" placeholder="Password" aria-label="Password" name="password" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <input type="password" id="password2" class="form-control" placeholder="Conferma Password" aria-label="Conferma Password" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <select class="form-select" place name="plan" required>
                                    <option selected value="">Seleziona</option>
                                    <option value="ROLE_USER_PROVA">Prova (gratuito, 3 allenamenti)</option>
                                    <option value="ROLE_USER_BASIC">Basic (€9.99/mese)</option>
                                    <option value="ROLE_USER_PRO">Pro (€14.90/mese)</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <button class="form-control btn btn-primary" type="submit">Registrati</button>
                            </div>
                            <div class="col">
                                <button class="form-control btn btn-danger" type="reset">Reset</button>
                            </div>
                        </div>
                    </form>
                    <div class="text-center">
                        <p>Già uno di noi? <a th:href="@{/login}">Accedi</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{bases/scripts.html}"></div>
</body>
</html>