<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{bases/head.html}"></head>

<body>
    <nav th:replace="~{bases/navbar.html}"></nav>

    <div class="container p-5">
        <div class="row mb-4">
            <div class="col">
                <h1>Benvenuto/a, <span th:text="${name}"></span>!</h1>
                <p class="text-muted">Dashboard PROVA</p>
                <p>Allenamenti effettuati: <span th:text="${trainingsCount}"></span>/3</p>
            </div>
        </div>

        <div class="row mb-5">
            <div class="col-auto">
                <a th:href="@{/profile}" class="btn btn-primary">
                    Visualizza Profilo
                </a>
            </div>
            <div class="col-auto">
                <a th:href="@{/change-password}" class="btn btn-warning">
                    Cambia Password
                </a>
            </div>
            <div class="col-auto">
                <a th:href="@{/upgrade}" class="btn btn-info">
                    Effettua Upgrade
                </a>
            </div>

            <div class="col-auto">
                <a th:href="@{/trainings}" class="btn btn-dark">
                    Vedi allenamenti
                </a>
            </div>

        </div>

        <div th:replace="~{bases/review.html}"></div>
    </div>

    <footer th:replace="~{bases/footer.html}"></footer>
    <script th:replace="~{bases/scripts.html}"></script>
</body>

</html>