<!-- using reference @ https://www.w3schools.com/bootstrap5/bootstrap_navbar.php -->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}" sec:authorize="isAnonymous()">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/dashboard}" sec:authorize="isAuthenticated()">Dashboard</a>
                </li>
            </ul>

            <ul class="navbar-nav d-flex">
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/login}">Login</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/signup}">SignUp</a>
                </li>
                <form class="nav-item" th:action="@{/perform_logout}" method="post" sec:authorize="isAuthenticated()">
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            </ul>
        </div>
    </div>
</nav>