<!--
    using reference @ https://www.w3schools.com/bootstrap5/bootstrap_navbar.php
-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <img th:src="@{/images/GymBros.jpg}" th:href="@{/}" alt="GymBros logo" style="max-height: 4rem"/>
        <div class="collapse navbar-collapse" id="navbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}" sec:authorize="isAnonymous()">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/contacts}" sec:authorize="isAnonymous()">Contattaci</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/dashboard}" sec:authorize="isAuthenticated()">Dashboard</a>
                </li>
            </ul>

            <ul class="navbar-nav d-flex">
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/login}">Inizia allenamento</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="@{/signup}">Registrati</a>
                </li>
                <form class="nav-item" th:action="@{/perform_logout}" method="post" sec:authorize="isAuthenticated()">
                    <button type="submit" class="btn btn-danger">Logout</button>
                </form>
            </ul>
        </div>
    </div>
</nav>